#hero{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/271639/pexels-photo-271639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) fixed top center;
    background-size: cover;
    position: relative;
}
#hero:before{
    content:  "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero .container{
    position: relative;
    padding-top: 75px;
}
#hero h1{
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
#hero h2{
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
}
#hero .icon-box h3{
    font-weight: 700;
    margin-top: 15px;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}
#hero .icon-box h3hover{
    color: #ffc451;
}

.about ul li{
    list-style-type: none;
}
.cta{
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.8)), url(https://images.pexels.com/photos/271639/pexels-photo-271639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) fixed center center;
    padding: 80px 0;
    color: #fff;
}
.cta h3{
    font-weight: 700;
    font-size: 28px;
}
.cta-btn{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
}
.cta-btn:hover{
    background: #ffc451;
    border-color: #ffc451;
    color: #151515;
}